<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Add Top Deals</h4>

            </div>
        </div>

        <form [formGroup]="topdealsFormRegistration">

            <div class="row">

                <div class="col-sm-4">
                    <label for=""> Shop Name</label>
                    <input type="text" class="form-control" placeholder="Enter Your Shop Name" [(ngModel)]="sname" [ngClass]="{ 'is-invalid': submitted && f.sname.errors }" formControlName="sname">

                    <div *ngIf="submitted && f.sname.errors" class="invalid-feedback">
                        <div *ngIf="f.sname.errors.required">Shop name is required</div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <label for=""> Menu Name</label>
                    <input type="text" class="form-control" placeholder="Enter Your Menu Name" [(ngModel)]="mname" [ngClass]="{ 'is-invalid': submitted && f.mname.errors }" formControlName="mname">

                    <div *ngIf="submitted && f.mname.errors" class="invalid-feedback">
                        <div *ngIf="f.mname.errors.required">Menu name is required</div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <label for=""> Deal Price</label>
                    <input type="text" class="form-control" placeholder="Enter Your  Deal Price" [(ngModel)]="dprice" [ngClass]="{ 'is-invalid': submitted && f.dprice.errors }" formControlName="dprice">

                    <div *ngIf="submitted && f.dprice.errors" class="invalid-feedback">
                        <div *ngIf="f.dprice.errors.required"> Deal price is required</div>

                    </div>
                </div>


                <div class="col-sm-4">
                    <label for="">Date </label>
                    <input type="number" class="form-control" placeholder="Enter the Date" [(ngModel)]="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" formControlName="date">

                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div *ngIf="f.date.errors.required">Date is required</div>

                    </div>
                </div>


                <div class="col-sm-4">
                    <label for="">Available Time </label>
                    <input type="time" class="form-control" placeholder="Enter Your Available Time" [(ngModel)]="atime" [ngClass]="{ 'is-invalid': submitted && f.atime.errors }" formControlName="atime">

                    <div *ngIf="submitted && f.atime.errors" class="invalid-feedback">
                        <div *ngIf="f.atime.errors.required">Available time is required</div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="">Closing Time </label>
                    <input type="time" class="form-control" placeholder="Enter Your Closing Time " [(ngModel)]="ctime" [ngClass]="{ 'is-invalid': submitted && f.ctime.errors }" formControlName="ctime">

                    <div *ngIf="submitted && f.ctime.errors" class="invalid-feedback">
                        <div *ngIf="f.ctime.errors.required">Closing time is required</div>

                    </div>
                </div>


                <!-- <div class="col-sm-4">
                    <label for="">Banner Images </label>
                    <input type="file" class="form-control" placeholder="Enter Your Banner Images" [(ngModel)]="bimages" [ngClass]="{ 'is-invalid': submitted && f.bimages.errors }" formControlName="bimages">

                    <div *ngIf="submitted && f.bimages.errors" class="invalid-feedback">
                        <div *ngIf="f.bimages.errors.required">Banner images is required</div>

                    </div>
                </div> -->


                <div class="col-sm-4">
                    <label for="">Show / Hide</label>
                    <br> show
                    <input type="radio"> Hide
                    <input type="radio">
                </div>

                <div class="col-sm-4">
                    <label for="">Status</label>
                    <br> Active
                    <input type="radio"> Inactive
                    <input type="radio">
                </div>


                <div class="col-sm-12">
                    <button class="btn btn-warning" (click)="submit()">SUBMIT</button>
                </div>

            </div>
        </form>
    </div>
</div>